.course-main {
    text-align: center;
    background-color: white;
    border: 2px solid lightslategrey;
    border-radius: 10px;
    width: 75%;
    margin: 10px auto 10px auto;
    font-family: "Bookman Old Style";
    padding: 6px;
}
/*
Bookman Old Style
*/

.course-main h1 {
    border-bottom: 2px solid lightslategray;
    font-family: bold;
    font-size: 50px; 
    margin: 0px;
    padding: 25px 10px 0px 10px;
}

/*TABLE FORMAT*/
.course-main table {
    width: 100%;
}
.course-main th {
    font-size: 20px;
    font-family: bold;
    text-align: center;
    padding-top: 8px;
    border-left: 1px solid lightslategrey;
    border-right: 1px solid lightslategrey;
    border-bottom: 1px solid lightslategrey;
}

.course-main p {
    margin-bottom: 0px;
}

.course-main td {
    font-size: 15px;
    text-align: center;
    border-left: 1px solid lightslategrey;
    border-right: 1px solid lightslategrey;
    border-bottom: 1px solid lightslategrey;
}

/*
newSection
*/
.new-section {
    text-align: center;
    background-color: white;
    border: 2px solid lightslategrey;
    border-radius: 10px;
    width: 50%;
    margin: 10px auto 10px auto;
    font-family: "Bookman Old Style";
}

.new-section label {
    font-size: 20px;
}

.row-padding {
    padding-top: 10px;
}

.new-section h1 {
    border-bottom: 2px solid lightslategray;
    font-family: bold;
    font-size: 40px; 
    margin: 0px;
    padding: 25px 10px 0px 10px;
    border-bottom: 2px solid black;
}

.new-section button {
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 10px;
}
.new-section input {
    text-align: center;
}
.new-section select {
    width: 67%;
    font-size: 20px;
    text-align: center;
}
.addSectionInput {
    margin-top: 10px;
}

.newSectionButton {
    font-size: 20px !important;
    margin: 15px !important;
}

.input-margin {
    margin-top: 10px;
}

.add-section-display {
    display: none;
}

.change-course-display {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.small-course {
    background-color: white;
    border: 2px solid lightslategrey;
    border-radius: 10px;
    width: 25%;
    margin: 10px 15px;
    font-family: "Bookman Old Style" bold;
    float: left;
    text-align: center;
}

.list-of-courses {
    width: 100%;
    margin-left: 9% !important;
}

.small-course h1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.small-course p {
    margin-bottom: 0px;
}

.small-edit-button {
    margin-bottom: 10px;
    border-radius: 2px;
}

.big-save-button {
    font-size: 19px;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
}

.add-new-section-button {
    margin: 15px auto;
}

.table-row :hover{
    background-color: lightgrey;
}

.edit-section-display {
    display: none;
}