.course-main {
    text-align: center;
    background-color: white;
    border: 2px solid lightslategrey;
    border-radius: 10px;
    width: 75%;
    margin: 10px auto 10px auto;
    font-family: "Bookman Old Style";
}
/*
Bookman Old Style
*/

.course-main h1 {
    border-bottom: 2px solid lightslategray;
    font-family: bold;
    font-size: 50px; 
    margin: 0px;
    padding: 25px 10px 0px 10px;
}

/*TABLE FORMAT*/
.course-main table {
    width: 100%;
}
.course-main th {
    font-size: 20px;
    font-family: bold;
    text-align: center;
    padding-top: 8px;
    border-left: 1px solid lightslategrey;
    border-right: 1px solid lightslategrey;
    border-bottom: 1px solid lightslategrey;
}

.course-main td {
    font-size: 15px;
    text-align: center;
    border-left: 1px solid lightslategrey;
    border-right: 1px solid lightslategrey;
    border-bottom: 1px solid lightslategrey;
}

/*
newSection
*/
.new-section {
    text-align: center;
    background-color: white;
    border: 2px solid lightslategrey;
    border-radius: 10px;
    width: 50%;
    margin: 10px auto 10px auto;
    font-family: "Bookman Old Style";
}

.new-section label {
    font-size: 20px;
}

.row-padding {
    padding-top: 10px;
}

.new-section h1 {
    border-bottom: 2px solid lightslategray;
    font-family: bold;
    font-size: 40px; 
    margin: 0px;
    padding: 25px 10px 0px 10px;
    border-bottom: 2px solid black;
}

.new-section button {
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 10px;
}
.new-section input {
    text-align: center;
}

.addSectionInput {
    margin-top: 10px;
}

.newSectionButton {
    font-size: 20px !important;
    margin: 15px !important;
}

.input-margin {
    margin-top: 10px;
}